@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

@font-face{
  font-family: Didone;
  src: url("./fonts/AnticDidone-Regular.ttf");
}

@import './base.css';
@import "tailwindcss";

@theme{
 --color-primaryText: #2C473C;
 --color-brand: #F7F4EB;
 --color-burgundy: #6F1A25;
 --color-gold: #A87C49;
 --font-didone: "Didone", "sans-serif";
 --font-playfair: "Playfair Display", "sans-serif";
 --font-lora: "Lora", "sans-serif";
}